<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ResourceMapper" >
  <resultMap id="BaseResultMap" type="entity.Resource" >
    <id column="r_id" property="rId" jdbcType="INTEGER" />
    <result column="down_num" property="downNum" jdbcType="INTEGER" />
    <result column="uploader" property="uploader" jdbcType="VARCHAR" />
    <result column="r_name" property="rName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    r_id, down_num, uploader, r_name, url, submit_time, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="entity.ResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resource
    where r_id = #{rId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resource
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entity.ResourceExample" >
    delete from resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.Resource" >
    insert into resource (r_id, down_num, uploader, 
      r_name, url, submit_time, 
      remark)
    values (#{rId,jdbcType=INTEGER}, #{downNum,jdbcType=INTEGER}, #{uploader,jdbcType=VARCHAR}, 
      #{rName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.Resource" >
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        r_id,
      </if>
      <if test="downNum != null" >
        down_num,
      </if>
      <if test="uploader != null" >
        uploader,
      </if>
      <if test="rName != null" >
        r_name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="downNum != null" >
        #{downNum,jdbcType=INTEGER},
      </if>
      <if test="uploader != null" >
        #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="rName != null" >
        #{rName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.ResourceExample" resultType="java.lang.Integer" >
    select count(*) from resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update resource
    <set >
      <if test="record.rId != null" >
        r_id = #{record.rId,jdbcType=INTEGER},
      </if>
      <if test="record.downNum != null" >
        down_num = #{record.downNum,jdbcType=INTEGER},
      </if>
      <if test="record.uploader != null" >
        uploader = #{record.uploader,jdbcType=VARCHAR},
      </if>
      <if test="record.rName != null" >
        r_name = #{record.rName,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.submitTime != null" >
        submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update resource
    set r_id = #{record.rId,jdbcType=INTEGER},
      down_num = #{record.downNum,jdbcType=INTEGER},
      uploader = #{record.uploader,jdbcType=VARCHAR},
      r_name = #{record.rName,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      submit_time = #{record.submitTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Resource" >
    update resource
    <set >
      <if test="downNum != null" >
        down_num = #{downNum,jdbcType=INTEGER},
      </if>
      <if test="uploader != null" >
        uploader = #{uploader,jdbcType=VARCHAR},
      </if>
      <if test="rName != null" >
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Resource" >
    update resource
    set down_num = #{downNum,jdbcType=INTEGER},
      uploader = #{uploader,jdbcType=VARCHAR},
      r_name = #{rName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
</mapper>